body {
  font-family: 'Montserrat', sans-serif;
  background-color: #463066;
  color: #ffffff;
}

.nav-main {
  margin-top: 20px;
  margin-right: 20px;
}

.logo  {
  margin-top: 50px;
  margin-bottom: 50px;
}

.headline {
  background-color: #ff4e81;
  padding: 20px;
}
