<div class="card-line">
  <div class="row">
    <div class="col-md-1 text-center font-f">
      {{$parent.$index + 1}}
    </div>
    <div class="col-md-11">

      <div class="card">
        <div class="card-head">
          <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
              <div class="card-img">
                <a ui-sref="perfil({id: deputado.Id})">
                  <img ng-src="{{ deputado.urlfoto }}" alt="{{ deputado.nome }}" width="100%">
                </a>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6">
              <div class="font-b"><a class="link-inverse" ui-sref="perfil({id: deputado.Id})">{{ deputado.nome }}</a></div>
            </div>
            <div class="col-xs-1 col-sm-3">
              <!-- selos -->
            </div>
          </div>
        </div>
        <div class="card-subhead">
          <div class="row">
            <div class="col-xs-10 col-sm-6 col-sm-offset-2">
              {{ deputado.uf }} / {{ deputado.Partido }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center card-text-align">
              <div class="font-c card-text-label">Valor gasto no mês</div>
              <div class="font-b">{{ deputado.Total | currency:'R$ ' }}</div>
            </div>
            <div class="col-md-4 text-center">
              <div class="selo-lg selo-primary">
                <span class="icone-lg icon-alimento" ng-if="maiorGasto('alimento')"></span>
                <span class="icone-lg icon-combustivel" ng-if="maiorGasto('combustivel')"></span>
                <span class="icone-lg icon-locacao" ng-if="maiorGasto('locacao')"></span>
                <span class="icone-lg icon-passagem" ng-if="maiorGasto('passagem')"></span>
                <span class="icone-lg icon-escritorio" ng-if="maiorGasto('escritorio')"></span>
                <span class="icone-lg icon-divulgacao" ng-if="maiorGasto('divulgacao')"></span>
                <span class="icone-lg icon-outro" ng-if="maiorGasto('outros')"></span>
              </div>
              <div class="font-c card-text-label" ng-if="maiorGasto('alimento')">Gastou mais em Alimento</div>
              <div class="font-c card-text-label" ng-if="maiorGasto('combustivel')">Gastou mais em Combustível</div>
              <div class="font-c card-text-label" ng-if="maiorGasto('locacao')">Gastou mais em Locação</div>
              <div class="font-c card-text-label" ng-if="maiorGasto('passagem')">Gastou mais em Passagem</div>
              <div class="font-c card-text-label" ng-if="maiorGasto('escritorio')">Gastou mais em Escritório</div>
              <div class="font-c card-text-label" ng-if="maiorGasto('divulgacao')">Gastou mais em Divulgação</div>
              <div class="font-c card-text-label" ng-if="maiorGasto('outros')">Gastou mais em Outros serviços</div>
              <div class="font-b">{{deputado.Maior_gasto_valor | currency:'R$ '}}</div>
            </div>
            <div class="col-md-4 text-center card-text-align">
              <div class="font-c card-text-label">Presenças/ Sessões</div>
              <div ng-show="deputado.total_sessoes > 0">
                <div class="font-b">{{deputado.presencas}}/{{deputado.total_sessoes}}</div>
              </div>
              <div ng-hide="deputado.total_sessoes > 0">
                <div class="font-b">-/-</div>
              </div>
            </div>
          </div>

          <div class="transformable" ng-class="{'small':isVisible, 'big':!isVisible}">
            <div class="text-center">
              <span class="font-d">Como usou a cota?</span><br>
              <span>Limite mensal de {{ deputado.Cota_UF| currency:'R$ ' }}</span>
            </div>
            <div class="card-row">
              <div class="row">
                <div class="col-xs-6 col-md-2 col-md-offset-2 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('alimento')}">
                    <span class="icone-lg icon-alimento"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Alimentação'] | currency:'R$ '}}</div>
                  <div class="font-m">Alimentação</div>
                </div>
                <div class="col-xs-6 col-md-2 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('combustivel')}">
                    <span class="icone-lg icon-combustivel"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Combustíveis'] | currency:'R$ '}}</div>
                  <div class="font-m">Combustíveis</div>
                </div>
                <div class="col-xs-6 col-md-2 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('locacao')}">
                    <span class="icone-lg icon-locacao"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Locação de veículos'] | currency:'R$ '}}</div>
                  <div class="font-m">Locação de veículos</div>
                </div>
                <div class="col-xs-6 col-md-2 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('passagem')}">
                    <span class="icone-lg icon-passagem"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Passagens aéreas'] | currency:'R$ '}}</div>
                  <div class="font-m">Passagens aéreas</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-2 col-md-offset-3 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('alimento')}">
                    <span class="icone-lg icon-escritorio"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Escritório'] | currency:'R$ '}}</div>
                  <div class="font-m">Escritório</div>
                </div>
                <div class="col-xs-6 col-md-2 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('divulgacao')}">
                    <span class="icone-lg icon-divulgacao"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Divulgação de atividade parlamentar'] | currency:'R$ '}}</div>
                  <div class="font-m">Divulgação</div>
                </div>
                <div class="col-xs-6 col-md-2 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': maiorGasto('outros')}">
                    <span class="icone-lg icon-outro"></span>
                  </div>
                  <div class="font-l">{{deputado.Gastos['Outros'] | currency:'R$ '}}</div>
                  <div class="font-m">Outros</div>
                </div>
              </div>
            </div>
          </div>
          <div  ng-click="hide()" class="card-exp">
            DETALHES
            <span class="glyphicon glyphicon-chevron-up" ng-show="!isVisible"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-show="isVisible"></span>
          </div>

        </div> <!-- fim do card body -->
      </div>

    </div>
  </div>
</div>
