<div ng-class="$parent.$odd ? 'card card-odd' : 'card'">
  <div class="card-number">{{("0" + ($parent.$index + 1)).slice(-2)}}</div>
  <div class="card-head">
    <a ui-sref="perfil({id: deputado.id})">{{ deputado.nome }}</a>
  </div>
  <div class="card-subhead">
    <div class="card-img">
      <a ui-sref="perfil({id: deputado.id})">
        <img ng-src="{{ deputado.urlfoto }}" alt="{{ deputado.nome }}" width="100%">
      </a>
    </div>
    <div class="card-subtitle">
      {{ deputado.uf }}
    </div>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-xs-4">
      Cota Mensal: <br/>
      <span class="card-content">{{ deputado.cota_mensal | currency:'R$ ' }}</span> <br/>
      Valor gasto: <br/>
      <!--<strong class="estouro">-->
      <span class="card-content">{{ deputado.total | currency:'R$ ' }}</span>
      <!--</strong>-->
      </div>

       <div class="col-xs-4 ">
      <span class="icon-alimento col-sm-offset-2" ng-if="true"></span>
      <span class="icon-combustivel col-sm-offset-2" ng-if="false"></span>
      <span class="icon-locacao col-sm-offset-2" ng-if="false"></span>
      <span class="icon-passagem col-sm-offset-2" ng-if="false"></span>
      <span class="icon-escritorio col-sm-offset-2" ng-if="false"></span>
      <span class="icon-divulgacao col-sm-offset-2" ng-if="false"></span>
      <br/>
      Nome categoria <br/>
      </div>

       <div class="col-xs-4">
      presença/faltas <br/>
      
      Persença / Faltas
      </div>
    </div>

    <br/><br/>


        
        <div class="transformable" ng-class="{'small':IsVisible, 'big':!IsVisible}" ng-show="!IsVisible" >
          
          <h4 class="text-center" >Como usou a cota:</h4>


          <div class="procedure-details" ng-class="{'small2':IsVisible, 'big':!IsVisible}" ng-show="!IsVisible" >
            <div class="col-xs-4 col-md-2 text-center"><span class="icon-alimento"></span> <p class="text-small">R$&nbsp;22mil</p></div>
            <div class="col-xs-4 col-md-2 text-center"><span class="icon-combustivel"></span> <p class="text-small">R$&nbsp;22mil</p></div>
            <div class="col-xs-4 col-md-2 text-center"><span class="icon-locacao"></span> <p class="text-small">R$&nbsp;22mil</p></div>
            <div class="col-xs-4 col-md-2 text-center"><span class="icon-passagem"></span> <p class="text-small">R$&nbsp;22mil</p></div>
            <div class="col-xs-4 col-md-2 text-center"><span class="icon-escritorio"></span> <p class="text-small">R$&nbsp;22mil</p></div>
            <div class="col-xs-4 col-md-2 text-center"><span class="icon-divulgacao"></span> <p class="text-small">R$&nbsp;22mil</p></div>
          </div>

        </div>

        <div  ng-click="hide()" class="card-exp" >
        <span class="glyphicon glyphicon-chevron-up" ng-show="!IsVisible"></span> <br/>
        <span ng-show="IsVisible"> + </span> <span ng-show="!IsVisible"> - </span>  DETALHES <br/>
         <span class="glyphicon glyphicon-chevron-down" ng-show="IsVisible"></span>
        </div>
        



    



    

    

    <div class="row">

      <!--<div class="col-sm-6">
        <p>
          <strong class="estouro">{{ deputado.total | currency:'R$ ' }}</strong>/{{ deputado.cota_mensal | currency:'R$ ' }}
          <br>
          Total gasto/cota mensal
        </p>
      </div>-->

    </div>
 
  </div> <!-- fim do card -->

</div>
