<div class="container">
  <div class="card">
    <div class="card-head">
      {{ ctrl.deputado.nome }}
    </div>
    <div class="card-subhead">
      <div class="card-img">
        <a ui-sref="perfil({id: ctrl.deputado.id})">
          <img ng-src="{{ ctrl.deputado.imagem }}" alt="{{ ctrl.deputado.nome }}" width="100%">
        </a>
      </div>
      <div class="card-subtitle">
        {{ ctrl.deputado.partido }}
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <radar-chart id="radar-chart" deputado="141531"></radar-chart>
      </div>
    </div>
  </div>

</div>
