<div class="container">

  <div class="card">
    <div class="card-head">
      {{ ctrl.deputado.nome }}
    </div>
    <div class="card-subhead">
      <div class="card-img">
        <a ui-sref="perfil({id: ctrl.deputado.id})">
          <img ng-src="{{ ctrl.deputado.imagem }}" alt="{{ ctrl.deputado.nome }}" width="100%">
        </a>
      </div>
      <div class="card-subtitle">
        {{ ctrl.deputado.partido }}
      </div>
    </div>
    <div class="card-body">
      <div class="categorias">
        <div class="categoria">
          <p>{{ ctrl.deputado.alimentacao }}</p>
          <p>Alimentação</p>
        </div>
        <div class="categoria">
          <p>{{ ctrl.deputado.combustivel }}</p>
          <p>Combustível</p>
        </div>
        <div class="categoria">
          <p>{{ ctrl.deputado.locacao }}</p>
          <p>Locação de veículos</p>
        </div>
        <div class="categoria">
          <p>{{ ctrl.deputado.alimentacao }}</p>
          <p>Alimentação</p>
        </div>
        <div class="categoria">
            <p>{{ ctrl.deputado.passagem }}</p>
            <p>Passagens aéreas</p>
        </div>
        <div class="categoria">
            <p>{{ ctrl.deputado.escritorio }}</p>
            <p>Escritório</p>
        </div>
        <div class="categoria">
            <p>{{ ctrl.deputado.divulgacao }}</p>
            <p>Divulgação de atividades</p>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <radar-chart id="radar-chart"></radar-chart>
      </div>
    </div>
  </div>

</div>
