<div class="container">
    <div class="sessao">
      <h1 class="main-title text-center font-i">CEAP</h1>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p>       
          <h3> O que é CEAP? </h3>     
            CEAP é a Cota para Exerício da Atividade Parlamentar, um valor mensal diponível para ser gasto pelos deputados. Esta verba é utilizada por meio de reembolso, ou seja: o parlamentar gastará do próprio dinheiro e, através da nota fiscal do bem adquirido, será reembolsado (<a href="http://www2.camara.leg.br/legin/int/atomes/2009/atodamesa-43-21-maio-2009-588364-norma-cd-mesa.html", target="_blank">Mais detalhes aqui</a>).
          </p>
          <p>  
            É importante lembrar que o uso da verba está restrito <b>única e exclusivamente</b> ao parlamentar e nem tudo pode ser comprado através da CEAP. Por exemplo, não se pode comprar bebidas alcoólicas ou ingressos de um show e pedir reembolso. O dinheiro gasto deveria servir apenas para o desempenho das suas atividades relacionados ao mandato. 
          </p>  

          <p>
          <h3> Como pode ser gasta? </h3>     
            São <b>permitidos</b> gastos com: Escritório (Manutenção de escritório), Locação de veículos (Locação ou fretamento de veículos, aeronaves, embarcações), Combustíveis (Combustíveis e lubrificantes), Passagens aéreas, Passagens terrestres, marítimas ou fluviais, Telefonia, Divulgação de atividade parlamentar, Alimentação, Hospedagem (Exceto do parlamentar no Distrito Federal), Hospedagem (Exceto do parlamentar no Distrito Federal), Locomoção (Serviços de taxi, pedágio e estacionamento), Consultoria (Consultorias, pesquisas e trabalhos técnicos), Revistas/Jornais (Assinatura de publicações), Segurança particular, Cursos e palestras.

              Para simplificar, agrupamos as categorias acima em:

              <ul>
                <li>Alimentação</li>
                <li>Combustível</li>
                <li>Locação de veículos</li>
                <li>Passagens aéreas</li>
                <li>Escritório</li>
                <li>Divulgação da atividade parlamentar</li>
                <li>Outros</li>
              </ul>
          </p>

          <p>
          <h3> Curiosidades </h3>     
            O valor da Cota Parlamentar é diferente para cada estado da Federação, porque leva em consideração o preço das passagens aéreas de Brasília até a capital do estado pelo qual o deputado foi eleito. Os valores de cada estado podem ser vistos <a href="http://www2.camara.leg.br/a-camara/estruturaadm/diretorias/diretoria-geral/estrutura-1/deapa/portal-da-posse/ceap-1", target="_blank">aqui</a>.
          </p>

          <p>
            Ficou curioso pra saber a quais outras verbas os deputados têm acesso? <a href="http://www2.camara.leg.br/comunicacao/camara-noticias/camara-destaca/55a-legislatura/gabinete-parlamentar/copy_of_resumo-de-verbas-e-cotas-parlamentares-3">Veja aqui</a>!
          </p>
        </div>
      </div>
    </div>

    <div class="sessao">
    </div>
</div>
