<div class="container">
    <div class="sessao">
      <h1 class="main-title text-center font-i">CEAP</h1>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 justificado">
          <h3> O que é CEAP? </h3>
          <p>
            CEAP é a Cota para Exercício da Atividade Parlamentar, um valor mensal diponível para ser gasto pelos deputados no exercício do seu mandato. 
            Esta verba é utilizada por meio de reembolso, ou seja: o parlamentar gastará do próprio dinheiro e, através da nota fiscal do bem adquirido, 
            será reembolsado (<a href="http://www2.camara.leg.br/legin/int/atomes/2009/atodamesa-43-21-maio-2009-588364-norma-cd-mesa.html", target="_blank">Mais detalhes aqui</a>).
          </p>

          <p>
            O valor da Cota Parlamentar é diferente para cada estado da Federação, porque leva em consideração o preço das passagens aéreas de Brasília 
            até a capital do estado pelo qual o deputado foi eleito. Os valores de cada estado podem ser vistos 
            <a href="http://www2.camara.leg.br/a-camara/estruturaadm/diretorias/diretoria-geral/estrutura-1/deapa/portal-da-posse/ceap-1", target="_blank">aqui</a>.
          </p>

          <p>
            É importante lembrar que o uso da verba está restrito <b>única e exclusivamente</b> ao parlamentar e nem tudo pode ser comprado através da CEAP. 
            Por exemplo, não se pode comprar bebidas alcoólicas ou ingressos de um show e pedir reembolso. 
            O dinheiro gasto deveria servir apenas para o desempenho das suas atividades relacionados ao mandato.
          </p>

          <h3> Como pode ser gasta? </h3>
          <p>
            São <b>permitidos</b> gastos com: escritório (manutenção de escritório), locação de veículos (locação ou fretamento de veículos, aeronaves, embarcações), 
            combustíveis (combustíveis e lubrificantes), passagens aéreas, passagens terrestres, marítimas ou fluviais, telefonia, divulgação de atividade parlamentar, 
            alimentação, hospedagem (exceto do parlamentar no Distrito Federal), locomoção (serviços de taxi, pedágio e estacionamento), 
            consultoria (consultorias, pesquisas e trabalhos técnicos), revistas/jornais (assinatura de publicações), segurança particular, cursos e palestras.
            Para simplificar, agrupamos as categorias acima em:
              <br/>
              <div class="row ceap-selos">
                  <div class="col-xs-6 col-md-2 text-center"><span class="icone-lg icon-alimento"></span>
                    <p>Alimentação</p>
                  </div>
                  <div class="col-xs-6 col-md-2 text-center"><span class="icone-lg icon-combustivel"></span>
                    <p>Combustível</p>
                  </div>
                  <div class="col-xs-6 col-md-2 text-center"><span class="icone-lg icon-locacao"></span>
                    <p>Locação de veículos</p>
                  </div>
                  <div class="col-xs-6 col-md-2 text-center"><span class="icone-lg icon-passagem"></span>
                    <p>Passagens aéreas</p>
                  </div>
                  <div class="col-xs-6 col-md-2 text-center"><span class="icone-lg icon-escritorio"></span>
                    <p>Escritório</p>
                  </div>
                  <div class="col-xs-6 col-md-2 text-center"><span class="icone-lg icon-divulgacao"></span>
                    <p>Divulgação</p>
                  </div>
            </div>
          </p>

          <h3><a href="https://youtu.be/7geNsXG08HE?t=30" target="_blank">Alô, vó, tô estourado!</a> </h3>
          <p>
            Todo mês os deputados(as) podem ganhar selos nas categoria em que ele(a) foi um(a) dos que mais gastaram 
            (gasto acima da mediana):
          </p>

           <div class="row selos">
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/guloso.png" height="100" width="100" title="Alimentação">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/tanque.png" height="100" width="100" title="Combustíveis">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/taxi.png" height="100" width="100" title="Locação de veículos">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/turista.png" height="100" width="100" title="Passagens aéreas">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/panfleto.png" height="100" width="100" title="Divulgação de atividade parlamentar">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/gaveta.png" height="100" width="100" title="Escritório">
              </div>
            </div>

            <p>
                Os mais ausentes (compareceram a menos de 25% das sessões) / presentes (compareceram a mais de 75% das sessões) e os mais (estouraram a cota) / menos (<a href = "http://www.fatosdesconhecidos.com.br/wp-content/uploads/2016/08/04-113-600x232.jpg", target="_blank">respeitaram o limite</a>) gastadores também recebem:
            </p>

              <div class="row selos">
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <img src="images/selos/gaspar.png" height="120" width="120">
                  <p class="font-e">{{ ctrl.contagemSelos['gaspar'] }}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <img src="images/selos/ponto.png" height="120" width="120">
                  <p class="font-e">{{ ctrl.contagemSelos['batedor'] }}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <img src="images/selos/camarote.png" height="120" width="120">
                  <p class="font-e">{{ ctrl.contagemSelos['camarote'] }}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <img src="images/selos/moderado.png" height="120" width="120">
                  <p class="font-e">{{ ctrl.contagemSelos['moderado'] }}</p>
                </div>
              </div>

          <h3> Curiosidades </h3>
          <p>
            Ficou curioso pra saber a quais outras verbas os deputados têm acesso? <a href="http://www2.camara.leg.br/comunicacao/camara-noticias/camara-destaca/55a-legislatura/gabinete-parlamentar/copy_of_resumo-de-verbas-e-cotas-parlamentares-3", target="_blank">Veja aqui</a>!
            <br/><br/>
            Gastos curiosos:
            <ul>
              <li><a href="http://justificando.cartacapital.com.br/2014/08/28/com-cota-publica-tres-deputados-consomem-de-serie-b-pacote-porno-em-tv-cabo/", target="_blank">Tem deputado gastando com canal pornô!</a></li>
              <li><a href="http://congressoemfoco.uol.com.br/opiniao/colunistas/camara-paga-r-1-495-por-almoco-de-deputado/", target="_blank">Tem almoço a preço de banquete!</a></li>
              <li><a href="http://www.folhapolitica.org/2015/04/deputado-gasta-r-168-mil-no-posto-de.html", target="_blank">Tem aquela ajudinha no negócio da família</a></li>
            </ul>
            <br/>
            Está perplexo com a quantidade de dinheiro gasta irresponsávelmente? Nós também! Use o Vidinha De Balada para descobrir mais desses gastos e os compartilhe!
          </p>

        </div>
      </div>
    </div>
</div>
