<div class="container">

  <div class="sessao">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div class="card-lg">
          <div class="card-lg-head">
            <div class="row">
              <div class="col-sm-4 col-md-2 text-center">
                <div class="card-lg-img">
                  <a ui-sref="perfil({id: ctrl.deputado.Id})">
                    <img ng-src="{{ ctrl.deputado.urlfoto }}" alt="{{ ctrl.deputado.Nome }}" width="100%">
                  </a>
                </div>
              </div>
              <div class="col-sm-8 col-md-10">
                <h1>{{ ctrl.deputado.nome }}</h1>
                <p>{{ ctrl.deputado.UF }} / {{ ctrl.deputado.Partido }}</p>

                <div class="row">
                  <div class="col-md-6" ng-if="ctrl.deputado.Twitter != 'NA'">
                    <span class="icone-sm icon-twitter-with-circle"></span> <span>{{ ctrl.deputado.Twitter }}</span>
                  </div>

                  <div class="col-md-6">
                    <span class="icone-sm icon-phone"></span> (61) {{ ctrl.deputado.Fone }}
                  </div>

                  <div class="col-md-12">
                    <span class="icone-sm icon-mail"></span> <a ng-href="mailto:{{ ctrl.deputado.Email }}" class="link-inverse" target="_blank">{{ ctrl.deputado.Email }}</a>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="card-lg-body">
            <div class="row">
              <div class="col-xs-12 text-center card-text-align">
                <div class="font-c card-text-label">Valor gasto durante o atual mandato</div>
                <div class="font-g">{{ ctrl.deputado['Total gastos'] | currency:'R$ ' }}</div>
              </div>
            </div>

            <br><br>

            <div class="text-center">
              <span class="font-d">Como usou a cota?</span><br>
              <span>Limite mensal de {{ ctrl.deputado.Cota | currency:'R$ ' }}</span>
            </div>
            <div class="card-row">
              <div class="row">
                <div class="col-xs-6 col-md-4 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': ctrl.maiorGasto('alimento')}">
                    <span class="icone-lg icon-alimento"></span>
                  </div>
                  <div class="font-l">{{ctrl.deputado['Alimentação'] | currency:'R$ '}}</div>
                  <div class="font-m">Alimentação</div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': ctrl.maiorGasto('combustivel')}">
                    <span class="icone-lg icon-combustivel"></span>
                  </div>
                  <div class="font-l">{{ctrl.deputado['Combustível'] | currency:'R$ '}}</div>
                  <div class="font-m">Combustíveis</div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': ctrl.maiorGasto('locacao')}">
                    <span class="icone-lg icon-locacao"></span>
                  </div>
                  <div class="font-l">{{ctrl.deputado['Locação de veículos'] | currency:'R$ '}}</div>
                  <div class="font-m">Locação de veículos</div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': ctrl.maiorGasto('passagem')}">
                    <span class="icone-lg icon-passagem"></span>
                  </div>
                  <div class="font-l">{{ctrl.deputado['Passagens aéreas'] | currency:'R$ '}}</div>
                  <div class="font-m">Passagens aéreas</div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': ctrl.maiorGasto('alimento')}">
                    <span class="icone-lg icon-escritorio"></span>
                  </div>
                  <div class="font-l">{{ctrl.deputado['Escritório'] | currency:'R$ '}}</div>
                  <div class="font-m">Escritório</div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                  <div class="selo-lg" ng-class="{'selo-primary': ctrl.maiorGasto('divulgacao')}">
                    <span class="icone-lg icon-divulgacao"></span>
                  </div>
                  <div class="font-l">{{ctrl.deputado['Divulgação de atividade parlamentar'] | currency:'R$ '}}</div>
                  <div class="font-m">Divulgação</div>
                </div>
              </div>
            </div>

          </div> <!-- fim do card body -->
        </div>

        <div class="card-lg">
          <div class="card-lg-body">
            <h2 class="text-center">Gastos & Presenças</h2>
            <p class="text-center">Valores gastos e presenças em sessões ao longo do mandato</p>

            <line-chart id="timeline-chart" deputado="ctrl.id"></line-chart>
          </div>
        </div>

        <div class="card-lg">
          <div class="card-lg-body">
            <h2 class="text-center">Empresas parceiras</h2>
            <p class="text-center">Quais empresas são as mais queridinhas do deputado?</p>

            <table class="table table-bordered" ng-show="ctrl.empresasParceiras.length">
              <tbody ng-repeat="empresa in ctrl.empresasParceiras">
                <tr class="visible-xs">
                  <td colspan="3" class="table-row-featured text-center font-f">{{$index + 1}}</td>
                </tr>
                <tr>
                  <td scope="row" rowspan="3" class="table-row-featured text-center font-f hidden-xs">{{$index + 1}}</td>
                  <td colspan="2" class="font-e">{{ empresa.empresa }}</td>
                </tr>
                <tr>
                  <td>CNPJ {{ empresa.cnpj | cnpj }}</td>
                  <td colspan="2" class="font-e">{{ empresa.valor | currency:'R$ ' }}</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <strong>Categorias:</strong>
                    <span ng-repeat="categoria in empresa.categorias">{{categoria}}{{$last ? '' : ', '}}</span>
                  </td>
                </tr>
                <tr class="table-inverse">
                  <td colspan="3">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-lg">
          <div class="card-lg-body">
            <h2 class="text-center">Coleção de selos</h2>
            <p class="text-center">Os selos acumulados ao longo do mandato</p>
            <div class="row selos">
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/guloso.png" width="100%" title="Alimentação" alt="Alimentação">
                <p class="font-e">{{ ctrl.contagemSelos['Alimentação'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/tanque.png" width="100%" title="Combustíveis" alt="Combustíveis">
                <p class="font-e">{{ ctrl.contagemSelos['Combustíveis'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/taxi.png" width="100%" title="Locação de veículos" alt="Locação de veículos">
                <p class="font-e">{{ ctrl.contagemSelos['Locação de veículos'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/turista.png" width="100%" title="Passagens aéreas" alt="Passagens aéreas">
                <p class="font-e">{{ ctrl.contagemSelos['Passagens aéreas'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/panfleto.png" width="100%" title="Divulgação de atividade parlamentar" alt="Divulgação de atividade parlamentar">
                <p class="font-e">{{ ctrl.contagemSelos['Divulgação de atividade parlamentar'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/gaveta.png" width="100%" title="Escritório" alt="Escritório">
                <p class="font-e">{{ ctrl.contagemSelos['Escritório'] }}</p>
              </div>
            </div>
            <div class="row selos">
              <div class="col-xs-4 col-sm-2 col-sm-offset-2">
                <img src="images/selos/gaspar.png" width="100%" alt="Gasparzinho">
                <p class="font-e">{{ ctrl.contagemSelos['gaspar'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/ponto.png" width="100%" alt="Batedor de ponto">
                <p class="font-e">{{ ctrl.contagemSelos['batedor'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/camarote.png" height="120" width="120" alt="Rei do camarote">
                <p class="font-e">{{ ctrl.contagemSelos['camarote'] }}</p>
              </div>
              <div class="col-xs-4 col-sm-2">
                <img src="images/selos/moderado.png" height="120" width="120" alt="Moderado">
                <p class="font-e">{{ ctrl.contagemSelos['moderado'] }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="fab">
  <span class="fab-action-button">
    <span class="icon-share"></span>
  </span>
  <ul class="fab-buttons">
    <li class="fab-buttons__item">
      <a href=""
        socialshare
        socialshare-provider="facebook"
        socialshare-type="simple sharer"
        socialshare-title="{{ctrl.socialshare.shortText}}"
        socialshare-description="{{ctrl.socialshare.longText}}"
        socialshare-url="{{ctrl.socialshare.url}}"
        class="fab-buttons__link"
        data-tooltip="Facebook">
        <span class="icon-facebook-with-circle"></span>
      </a>
    </li>
      <li class="fab-buttons__item">
        <a href=""
          socialshare
          socialshare-provider="twitter"
          socialshare-text="{{ctrl.socialshare.shortText}}"
          socialshare-hashtags="{{ctrl.socialshare.hashtags}}"
          socialshare-url="{{ctrl.socialshare.url}}"
          class="fab-buttons__link"
          data-tooltip="Twitter">
            <span class="icon-twitter-with-circle"></span>
      </a>
    </li>
    <li class="fab-buttons__item">
      <a href=""
        socialshare
        socialshare-provider="google"
        socialshare-url="{{ctrl.socialshare.url}}"
        class="fab-buttons__link"
        data-tooltip="Google+">
          <span class="icon-google-with-circle"></span>
      </a>
    </li>
    <li class="fab-buttons__item visible-xs">
      <a href=""
        socialshare
        socialshare-provider="whatsapp"
        socialshare-url="{{ctrl.socialshare.url}}"
        socialshare-text="{{ctrl.socialshare.longText}}"
        class="fab-buttons__link"
        data-tooltip="Whatsapp">
          <span class="icon-whatsapp"></span>
      </a>
    </li>
  </ul>
</div>
