<div class="container">

  <div class="sessao">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div class="card-lg">
          <div class="card-lg-head">
            <div class="row">
              <div class="col-sm-4 col-md-3 text-center">
                <div class="card-lg-img">
                  <a ui-sref="perfil({id: ctrl.deputado.Id})">
                    <img ng-src="{{ ctrl.deputado.urlfoto }}" alt="{{ ctrl.deputado.Nome }}" width="100%">
                  </a>
                </div>
              </div>
              <div class="col-sm-8 col-md-9">
                <h1>{{ ctrl.deputado.nome }}</h1>
                <p>{{ ctrl.deputado.UF }}</p>
              </div>
            </div>
          </div>
          <div class="card-lg-body">

            <div class="row">
              <div class="col-md-4">
                <span class="font-c">Cota mensal</span> <br>
                <span class="font-d">{{ ctrl.deputado.Cota | currency:'R$ ' }}</span> <br>
                <span class="font-c">Valor gasto</span> <br>
                <span class="font-b">{{ ctrl.deputado['Total gastos'] | currency:'R$ ' }}</span>
              </div>
              <div class="col-md-4 text-center">
                <!-- <div class="selo-primary selo-lg">
                  <span class="icone-lg icon-alimento" ng-if="ctrl.maiorGasto('alimento')"></span>
                  <span class="icone-lg icon-combustivel" ng-if="ctrl.maiorGasto('combustivel')"></span>
                  <span class="icone-lg icon-locacao" ng-if="ctrl.maiorGasto('locacao')"></span>
                  <span class="icone-lg icon-passagem" ng-if="ctrl.maiorGasto('passagem')"></span>
                  <span class="icone-lg icon-escritorio" ng-if="ctrl.maiorGasto('escritorio')"></span>
                  <span class="icone-lg icon-divulgacao" ng-if="ctrl.maiorGasto('divulgacao')"></span>
                </div>
                <p class="font-b">{{ctrl.deputado.Maior_gasto_valor | currency:'R$ '}}</p> -->
              </div>
              <div class="col-md-4 text-center">
                <!-- <div class="selo-primary selo-lg">
                  <strong>{{ctrl.deputado.presencas}}</strong>/{{ctrl.deputado.total_sessoes}}
                </div>
                <p>Presenças / sessões</p> -->
              </div>
            </div>

            <h4 class="text-center">Como usou a cota:</h4>
            <div class="row">
              <div class="col-xs-4 col-md-2 text-center"><span class="icone-lg icon-alimento"></span>
                <p class="font-e">{{ctrl.deputado['Alimentação'] | currency:'R$ '}}</p>
                <p>Alimentação</p>
              </div>
              <div class="col-xs-4 col-md-2 text-center"><span class="icone-lg icon-combustivel"></span>
                <p class="font-e">{{ctrl.deputado['Combustível'] | currency:'R$ '}}</p>
                <p>Combustível</p>
              </div>
              <div class="col-xs-4 col-md-2 text-center"><span class="icone-lg icon-locacao"></span>
                <p class="font-e">{{ctrl.deputado['Locação de veículos'] | currency:'R$ '}}</p>
                <p>Locação de veículos</p>
              </div>
              <div class="col-xs-4 col-md-2 text-center"><span class="icone-lg icon-passagem"></span>
                <p class="font-e">{{ctrl.deputado['Passagens aéreas'] | currency:'R$ '}}</p>
                <p>Passagens aéreas</p>
              </div>
              <div class="col-xs-4 col-md-2 text-center"><span class="icone-lg icon-escritorio"></span>
                <p class="font-e">{{ctrl.deputado['Escritório'] | currency:'R$ '}}</p>
                <p>Escritório</p>
              </div>
              <div class="col-xs-4 col-md-2 text-center"><span class="icone-lg icon-divulgacao"></span>
                <p class="font-e">{{ctrl.deputado['Divulgação de atividade parlamentar'] | currency:'R$ '}}</p>
                <p>Divulgação</p>
              </div>
            </div>

          </div>
        </div>

        <div class="card-lg">
          <div class="card-lg-body">
            <h2 class="text-center">Gastos & Presenças</h2>
            <p class="text-center">Valores gastos e presenças em sessões ao longo do mandato</p>

            <line-chart id="timeline-chart" deputado="ctrl.id"></line-chart>
          </div>
        </div>

        <div class="card-lg">
          <div class="card-lg-body">
            <h2 class="text-center">Empresas parceiras</h2>
            <p class="text-center">Quais empresas são as mais queridinhas do deputado?</p>

            <table class="table table-bordered" ng-show="ctrl.empresasParceiras.length">
              <thead>
                <tr>
                  <th>#</th>
                  <th>CNPJ</th>
                  <th>Empresa</th>
                  <th>Valor total </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="empresa in ctrl.empresasParceiras">
                  <th scope="row">{{$index + 1}}</th>
                  <td>{{ 'xxx' }}</td>
                  <td>{{ 'xxx' }}</td>
                  <td>{{ empresa.valor | currency:'R$ ' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-lg">
          <div class="card-lg-body">
            <h2 class="text-center">Coleção de selos</h2>
            <p class="text-center">Os selos acumulados ao longo do mandato</p>
            <div class="row selos">
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/guloso.png" height="100" width="100">
                <p class="font-e">{{ ctrl.contagemSelos['Alimentação'] }}</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/tanque.png" height="100" width="100">
                <p class="font-e">{{ ctrl.contagemSelos['Combustíveis'] }}</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/taxi.png" height="100" width="100">
                <p class="font-e">{{ ctrl.contagemSelos['Locação de veículos'] }}</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/turista.png" height="100" width="100">
                <p class="font-e">{{ ctrl.contagemSelos['Passagens aéreas'] }}</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/panfleto.png" height="100" width="100">
                <p class="font-e">{{ ctrl.contagemSelos['Divulgação de atividade parlamentar'] }}</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <img src="images/selos/gaveta.png" height="100" width="100">
                <p class="font-e">{{ ctrl.contagemSelos['Escritório'] }}</p>
              </div>
              </div>
            </div
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
