<div class="container">
    <div class="sessao">
      <h1 class="main-title text-center font-i">SOBRE</h1>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p>
            Vidinha de Balada propõe analisar os gastos da CEAP verificando se o gasto do deputado é proporcional
            a sua presença e participação na câmara. Com isso, vamos possibilitar ao cidadão uma visão de fácil
            entendimento dos gastos do seu gestor, colocando este gestor em foco.
          </p>

          <p>
            Nossa plataforma traz a possibilidade de qualquer cidadão se enteirar do que se passa na vida
            pública financeira e política do deputado. Nosso desafio é simplificar! Através do nosso site você
            pode acompanhar quando e como os representantes do seu estado gastam o seu dinheiro
          </p>

          <p>
            O diferencial deste projeto é tornar viável, de fato, o entendimento do cidadão comum, fazendo com
            que este consiga formar opiniões a partir da nossa plataforma sobre os gastos dos deputados. De forma
            geral, trazer a discussão do gasto de dinheiro público e presença em dias de trabalho para um patamar
            tangível à sociedade comum.
          </p>
        </div>
      </div>
    </div>

    <div class="sessao">
      <h1 class="main-title text-center font-i">EQUIPE</h1>
      <div class="galeria-wrapper">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/arthur.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Arthur Lustosa</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/gibran.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Gibran Yasser</p>
            <p class="galeria-subtitulo">Designer</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/helder.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Helder Ronyer</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/italo.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Ítalo Hector</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/jefferson.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Jefferson Neves</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/leticia.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Leticia Wanderley</p>
            <p class="galeria-subtitulo">Desenvolvedora</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/martha.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Martha Michelly</p>
            <p class="galeria-subtitulo">Desenvolvedora</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/talita.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Talita Lôbo</p>
            <p class="galeria-subtitulo">Desenvolvedora</p>
          </div>
        </div>
      </div>
    </div>
</div>
