<div class="container corpo">
    <div class="sobre">
      <span class="text-center font-i sobre-title">SOBRE</span>
      <div class="row sobre-info">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            Vidinha de Balada propõe analisar os gastos da CEAP verificando se o gasto do deputado é proporcional
            a sua presença e participação na câmara. Com isso, vamos possibilitar ao cidadão uma visão de fácil
            entendimento dos gastos do seu gestor, colocando este gestor em foco.
        </div>
      </div>
    </div>

    <div class="sobre equipe">
      <span class="text-center font-i">EQUIPE</span>
        <div class="row sobre-info">
          <div class="col-xs-3">
            <img src="images/arthur.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Arthur Lustosa</p>
            <p class="team-office">Desenvolvedor</p>
          </div>
          <div class="col-xs-3">
            <img src="images/gibran.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Gibran Yasser</p>
            <p class="team-office">Designer</p>
          </div>
          <div class="col-xs-3">
            <img src="images/helder.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Helder Ronyer</p>
            <p class="team-office">Desenvolvedor</p>
          </div>
          <div class="col-xs-3">
            <img src="images/italo.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Ítalo Hector</p>
            <p class="team-office">Desenvolvedor</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img src="images/jefferson.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Jefferson Neves</p>
            <p class="team-office">Desenvolvedor</p>
          </div>
          <div class="col-xs-3">
            <img src="images/leticia.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Letícia Wanderley</p>
            <p class="team-office">Desenvolvedora</p>
          </div>
          <div class="col-xs-3">
            <img src="images/martha.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Martha Michelly</p>
            <p class="team-office">Desenvolvedora</p>
          </div>
          <div class="col-xs-3">
            <img src="images/talita.jpg" alt="" class="img-circle team-img">
            <p class="team-name">Talita Lôbo</p>
            <p class="team-office">Desenvolvedora</p>
          </div>
        </div>
      </div>
</div>
