<div class="container">
    <div class="sessao">
      <h1 class="main-title text-center font-i">SOBRE</h1>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p>
            Além do salário, os deputados federais recebem outras verbas para exercer seu cargo. Dentre elas auxílio para contratar funcionários, auxílio moradia, despesas com saúde, entre outras. No Vidinha de Balada, vamos falar em especial da <a href="http://www2.camara.leg.br/transparencia/acesso-a-informacao/copy_of_perguntas-frequentes/cota-para-o-exercicio-da-atividade-parlamentar" target="_blank">CEAP (Cota para Exercício da Atividade Parlamentar)</a>. O deputado deve prestar contas indicando como utilizou esta cota,  que possui um valor básico para ser gasto com as seguintes categorias: alimentação, combustível, locação de veículos, passagens aéreas, material de escritório e divulgação.
          </p>
          <p>
            Apresentamos nessa plataforma como os deputados estão usando a CEAP, os top10 gastadores mensais que mais extrapolam o valor, com qual categoria mais gastam, se estão comparecendo nas sessões e com quais empresas mais gastam.
          </p>
          <p>
            Por serem valores muito altos, utilizamos unidades de comparação, tal como o salário mínimo. Trazendo  mais próximo para a realidade de um trabalhador brasileiro.
            A partir dessas informações o usuário poderá construir seu raciocínio crítico e ficar mais atento sobre como o seu dinheiro está sendo gasto.
          </p>
        </div>
      </div>

      <br><br><br>
      
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <iframe width="100%" height="480" src="https://www.youtube.com/embed/hFfzAy6Nirg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="sessao">
      <h1 class="main-title text-center font-i">EQUIPE</h1>
      <div class="galeria-wrapper">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/arthur.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Arthur Lustosa</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/gibran.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Gibran Yasser</p>
            <p class="galeria-subtitulo">Designer</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/helder.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Helder Ronyer</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/italo.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Ítalo Hector</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/jefferson.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Jefferson Neves</p>
            <p class="galeria-subtitulo">Desenvolvedor</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/leticia.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Leticia Wanderley</p>
            <p class="galeria-subtitulo">Desenvolvedora</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/martha.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Martha Michelly</p>
            <p class="galeria-subtitulo">Desenvolvedora</p>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="galeria-imagem">
              <img src="images/talita.jpg" alt="" class="img-circle" width="100%">
            </div>
            <p class="galeria-titulo">Talita Lôbo</p>
            <p class="galeria-subtitulo">Desenvolvedora</p>
          </div>
        </div>
      </div>
    </div>
</div>
