@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8coyuj');
  src:  url('fonts/icomoon.eot?8coyuj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8coyuj') format('truetype'),
    url('fonts/icomoon.woff?8coyuj') format('woff'),
    url('fonts/icomoon.svg?8coyuj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banknote:before {
  content: "\e90d";
}
.icon-outro:before {
  content: "\e90c";
}
.icon-passagem:before {
  content: "\e906";
}
.icon-locacao:before {
  content: "\e907";
}
.icon-escritorio:before {
  content: "\e908";
}
.icon-divulgacao:before {
  content: "\e909";
}
.icon-combustivel:before {
  content: "\e90a";
}
.icon-alimento:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e905";
}
.icon-google-with-circle:before {
  content: "\e901";
}
.icon-twitter-with-circle:before {
  content: "\e902";
}
.icon-facebook-with-circle:before {
  content: "\e903";
}
.icon-share-alternitive:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e905";
}
.icon-google-with-circle:before {
  content: "\e901";
}
.icon-twitter-with-circle:before {
  content: "\e902";
}
.icon-facebook-with-circle:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-github:before {
  content: "\eab0";
}
