body {
  font-family: 'Montserrat', sans-serif;
  background-color: #4B4B4D;
  color: #ffffff;
}

a,
.btn-link {
  color: #fff;
}

a:active,
a:hover,
.btn-link:hover,
.btn-link:focus {
  color: #fff;
}

.header {
  height: 170px;
  background-color: #463066;
}

.headline {
  text-align: center;
}

.sessao {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #61397B;
  margin-bottom: 20px;
}

h4 > .glyphicon {
  font-size: 14px;
}

.headline-title {
  font-size: 52px;
  font-weight: bold;
}

@media only screen and (max-width : 640px) {
  .headline-title {
    font-size: 32px;
  }
}

@media only screen and (max-width : 320px) {
  .headline-title {
    font-size: 24px;
  }
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis {
  font: 15px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.toolTip {
  pointer-events: none;
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 6px 14px;
  border-radius: 2px;
  text-align: center;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}

.toolTip span {
  font-weight: 500;
  color: #081F2C;
}

.main-title {
  margin-bottom: 50px;
}

.perfil-card {
  background-color: #522E61;
  margin-top: 20px;
}

.card {
  background-color: #522E61;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .card {
    margin-bottom: 40px;
  }
}

.card-number {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: -15px;
  background-color: #522E61;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 60px;
  text-align: center;
}

.card-head {
  background-color: #ff4e81;
  padding: 20px;
  padding-left: 151px;
  font-size: 1.5em;
}

.card-subhead {
  display: flex;
  padding-left: 20px;
}

.card-img {
  width: 114px;
  height: 114px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -52px;
  border: solid 4px #573C82;
}

.card-subtitle {
  background-color: #ff4e81;
  color: #fff;
  font-weight: bold;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: -25px;
  border: solid 4px #573C82;
}

.card-body {
  padding: 20px;
}

.card-exp {
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}

.categorias {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media only screen and (max-width : 320px) {
  .categorias {
    display: block;
  }
}

.categoria {
  font-size: 0.8em;
  text-align: center;
}

.tick > line,
.axis > line {
  stroke: #fff;
}

.tick > text,
.axis > text {
  stroke: none;
  fill: #fff;
}

.gastos > text,
.gastos .tick > text {
  stroke: none;
  fill: #ff4e81;
}

.gastos > path {
  stroke: #ff4e81;
}

.estouro {
  font-size: 2em;
}

.estourados {
  color: #fff;
}

.seletor-ano {
  font-size: 2em;
}

.seletor-ano > a:link {
  font-size: 0.8em;
}

.carousel-indicators {
  position: relative;
  bottom: auto;
  left: auto;
  width: auto;
  margin: auto;
}

.nav-colour {
  background-color: #463066;
  border: 0px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.nav-colour .nav-text > li > a {
  color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #463066;
}

.glyphicon {
    font-size: 14px;
}

.font-a {
  font-size: 16px;
}

.font-b {
  font-size: 26px;
  font-weight: bold;
}

.font-c {
  font-size: 18px;
  font-weight: bold;
}

.font-d {
  font-size: 52px;
  font-weight: bold;
}

.font-e {
  font-size: 20px;
  font-weight: bold;
}

.font-f {
  font-size: 89px;
}

.font-g {
  font-size: 30px;
  font-weight: bold;
}

.font-h {
  font-size: 16px;
  font-weight: bold;
}

.font-i {
  font-size: 48px;
  font-weight: bold;
}

.font-l {
  font-size: 14px;
  font-weight: bold;
}

.title-grafico {
  text-align: center;
  padding-bottom: 15px;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #61397B;
}
.footer-logo {
    padding: 5px;
}

.footer-line {
  margin-top: 0;
  margin-bottom: 0;
}

.resultado-busca {
  display: block;
  left: 0 !important;
}

.logo {
  padding-top: 30px;
  text-align: center;
}

.selos {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 15px;
}

.footer-text {
  float: right;
}

.sobre {
  background-color: #61397B;
  padding: 20px;
  text-align: center;
}

.sobre-info {
  padding-top: 20px;
}

.equipe {
  margin-top: 20px;
}

.transformable {
    -webkit-transition: height 500ms linear;
    -moz-transition: height 500ms linear;
    -o-transition: height 500ms linear;
    -ms-transition: height 500ms linear;
    transition: height 500ms linear;

}

.small {
    height:0px;
}

.big {
    height:150px;
}

.procedure-details {
    max-height: 150px;
    -webkit-transition: height 1000ms linear;
    -moz-transition: height 1000ms linear;
    -o-transition: height 1000ms linear;
    -ms-transition: height 1000ms linear;
    transition: height 1000ms linear;
    overflow: hidden;
}

.small2 {
    height: 0px;
    -webkit-transition: height 300ms linear;
    -moz-transition: height 300ms linear;
    -o-transition: height 300ms linear;
    -ms-transition: height 300ms linear;
    transition: height 300ms linear;

}

.share {
  padding-top: 20px;
  padding-left: 30px;

}

#share-buttons img {
  width: 60px;
  padding: 5px;
  padding-bottom: 20px;
  border: 0;
  box-shadow: 0;
  display: inline;
  align-content: center;
  text-align: center;
}

div.tooltip_gasto {
  position: absolute;
  text-align: center;
  width: 110px;
  height: 30px;
  padding: 2px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background: #ff4e81;
  color: #fff;
  border: 0px;
  pointer-events: none;
}

div.tooltip_presenca {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 45px;
  padding: 2px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #ff4e81;
  border: 0px;
  pointer-events: none;
}
