a:hover,
a:focus {
    color: #FF4E81;
}

.navbar-inverse {
  background-color: #463066;
  border: #463066;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #FF4E81;
}

.input-group-inverse > .input-group-addon {
  color: #ffffff;
  background: none;
}

.input-group-inverse > .input-group-addon {
  color: #ffffff;
  background: none;
  border: none;
}
.form-control-inverse {
  color: #ffffff;
  background: none;
  border: none;
  border-bottom: solid 2px #ffffff;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control-inverse:focus {
  border-color: #FF4E81;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #573C82;
}

.font-j {
  font-size: 11px;
}

.table-inverse {
  background-color: #463066;
}

.table-bordered {
  border: solid 4px #463066;
  background-color: #573C82;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: solid 4px #463066;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-row-featured {
  background-color: #ff4e81;
}

.table > tbody > tr > td.table-row-featured {
  vertical-align: middle;
}
