<div class="container">
  <div class="gastometro-container">
    <div class="selecter">
      <select ng-model="selectedYear"
              ng-options="ano for ano in ctrl.mandatoAnos"
              ng-change="ctrl.setYear(selectedYear)">
        <option value="" disabled selected> Ano</option>
      </select>
    </div>

    <div class="headline" ng-show="ctrl.total > 0">
      <p class="headline-title">
        <span mr-count-to count-to="{{ctrl.total}}" value="{{ctrl.total*0.999999}}" duration="10"></span>
        {{ctrl.total | currency:'R$ '}}
      </p>
      <p>foram gastos com a <br>Cota para exercício da atividade parlamentar apenas em <strong>2017</strong></p>
    </div>
  </div>

  <div class="float-flag" ng-show="ctrl.total > 0">
    Isso equivale à cerca de <br><strong>{{ctrl.salariosMinimos}}milhões</strong> de salários mínimos
  </div>
</div>

<div class="content">
  <div class="container">
    <h1 class="text-center">Os 10 mais #estourados</h1>
    <br>
    <card-deputado deputado="deputado" ng-repeat="deputado in ctrl.deputados"></card-deputado>
  </div>
</div>
