{
  "development": {
    "host": "localhost",
    "username": "meuusuario",
    "password": "MiNhaSeNhA",
    "port": "22",
    "deploy_path": "/var/www/html/"
  },
  "production": {
    "host": "10.x.x.xxx",
    "username": "systemusername",
    "password": "userpassword",
    "port": "22",
    "deploy_path": "/var/www/"
  }
}
